html {
  font-size: 16px;
  box-sizing: border-box;
  overflow-y: visible;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

*:focus {
  outline: none;
}

@supports (font-variation-settings: normal) {
  body {
    font-family: 'Inter var', sans-serif;
  }
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-weight: normal;
}
