version: '3.8'

services:
  mysql-db:
    image: mysql:8
    container_name: mysql-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: cspr_demo
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  cspr-api:
    build: .
    container_name: cspr-api
    depends_on:
      - mysql-db
    environment:
      DB_HOST: mysql-db
      DB_USER: root
      DB_PASSWORD: rootpassword
      DB_NAME: cspr_demo
      DB_PORT: 3306
    ports:
      - "3000:3000"
    command: npm start

volumes:
  mysql_data:
